* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: #fff;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}


/* @media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    } */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    font-family: monospace;
    letter-spacing: 3px;
    font-weight: bolder;
    color: hsl(0, 100%, 50%);
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
    display: block;
    border-radius: 10px;
}

.navbar-links li a:hover {
    color: rgb(10, 10, 10);
    background-color: rgb(69, 9, 236);
}

#section-a {
    min-height: 200px;
    color: rgb(236, 225, 225);
    text-align: center;
}

#section-a h1 {
    padding-top: 100px;
    padding-bottom: 0;
    color: aqua;
    font-weight: 1500;
    font-size: 30px;
}

.container .bg-image {
    position: absolute;
    background: url(net.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    z-index: -1;
    opacity: 0.4;
}

input[type=text] {
    background-color: #fff;
    background-image: url('serchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px;
    width: 700px;
}

#section-a .form {}

#section-a .form {
    input[type=text]:focus {
        border: 3px solid #000;
    }
}

button {
    background-color: #ff0000;
    padding: 10px;
}